## .NET / C#
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Test results
[Tt]est[Rr]esult*/
*.trx
*.coverage
*.coveragexml

## JetBrains Rider
.idea/
*.sln.iml

## Visual Studio Code
.vscode/

## Visual Studio
.vs/

## macOS
.DS_Store

## Windows
Thumbs.db
ehthumbs.db
Desktop.ini

## NuGet
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

StrykerOutput/